{% extends 'base.html' %} {% block content %}
<h1>About Lexicon</h1>
<h3>Lexicon is not your regular flashcards app.</h3>
<p>
  Have you ever heard someone say a word you didn't know the meaning of, and to
  avoid this moment of embarrassment, you nodded your head as if you understood?
  <br /><br />
  Our mission is to expand your lexicon, so you never have to face this feeling
  again. We believe you can become your most articulate self with just a few
  minutes per day.
  <br /><br />
  This open-source app allows users to post their favorite unique and unusual
  vocabulary words. Feel free to browse the cards and learn them as you go. Try
  your best to incorporate a few of them in your language each day, and we're
  confident you'll notice an improvement in your overall lexicon.
  <br /><br />
  We strongly encourage you to contribute to this project as it is fundamental
  to your learning.
</p>
{% endblock %}
